@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));


@import "./theme.css";
@import "./root.css";
@import "./dark.css";


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-[Aventa];
  }
}
  @font-face {
    font-family: "Freedom";
    src: url("/fonts/Freedom.otf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }
    @font-face {
    font-family: "Aventa";
    src: url("/fonts/Aventa.otf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Dameon";
    src: url("/fonts/Dameon.ttf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }
    @font-face {
    font-family: "Nectron";
    src: url("/fonts/Nectron.otf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }
   @font-face {
    font-family: "Mongule";
    src: url("/fonts/Mongule.otf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }
  
   @font-face {
    font-family: "Moara";
    src: url("/fonts/Moara.otf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }@font-face {
    font-family: "Reactive";
    src: url("/fonts/Reactive.otf") format("opentype");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
  }